

/* ==========================================================================
   Custom Styles Added Utilities
   ========================================================================== */

/* CLOSE X ANIMATION */
.navbar-toggle {
  border: none;
  background: transparent !important;
}
.navbar-toggle:hover {
  background: transparent !important;
}
.navbar-toggle .icon-bar {
  width: 22px;
  transition: all 0.2s;
}
.navbar-toggle .top-bar {
  transform: rotate(45deg);
  -ms-transform: rotate(45deg); 
   	-webkit-transform: rotate(45deg); 
  transform-origin: 10% 10%;
  -ms-transform-origin:10% 10%;
  -webkit-transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg); 
   	-webkit-transform: rotate(-45deg); 
  transform-origin: 10% 90%;
  -ms-transform-origin:10% 90%;
  -webkit-transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
  -ms-transform: rotate(0); 
   	-webkit-transform: rotate(0); 
}
.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
  -ms-transform: rotate(0); 
   	-webkit-transform: rotate(0); 
}
/* webkit font smoothing */
/* maxvoltar.com/archive/-webkit-font-smoothing */
html { -webkit-font-smoothing: antialiased; }
/* force html tag scrolling on short pages */
html { overflow-y: scroll; }
/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button { cursor: pointer; }
/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button { cursor: pointer; }

















